*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    text-align: center;
    margin-bottom: 10vmin;
    background-color: rgb(201, 228, 202);
}
.main-class{
    padding-top: 2rem;
    background-color: rgb(201, 228, 202);
    height: 100%;
    margin-bottom: 10vmin;
}

.heading{
    color: rgb(54, 73, 88);
}
.container{
    height: 60vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5vmin;
}
.game-body{
    min-height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2vmin;
    align-content: flex-start;
    
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5vmin;
    border: 0;
    box-shadow: 5px 10px 18px #888888;
    font-size: 12vmin;
    color: rgb(135, 187, 162);
    background-color: rgb(54, 73, 88);
}

.reset{
    height: 6vmin;
    width: 15vmin;
    border-radius: 1.5vmin;
    margin-top:3vmin;
    border: 0;
    background-color: rgb(85, 130, 139);
    color: rgb(201, 228, 202);
    font-size: large;
}

.restart{
    height: 6vmin;
    width: 20vmin;
    border-radius: 1.5vmin;
    margin-top:3vmin;
    border: 0;
    background-color: rgb(85, 130, 139);
    color: rgb(201, 228, 202);
    font-size: large;
}

.msg{
    font-size: 10vmin;
}

.hide{
    display: none;
}
.message-container{
    margin-bottom: 50vmin;
    margin-top: 35vmin;
}